{% extends 'base.html.twig' %}
{% block title %}Starshop: Beam up some parts!{% endblock %}
{% block body %}

<div class="container">
    This is the homepage of the application.
    <br>
    {% if passedData %}
        {{ passedData }} ->
    {% else %}
        No data passed.
    {% endif %}

    <table>
        <tr>
            <th>Name</th>
            <td>{{ myShip.name }}</td>
        </tr>
        <tr>
            <th>Class</th>
            <td>{{ myShip.class }}</td>
        </tr>
        <tr>
            <th>Captain</th>
            <td>{{ myShip.captain }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ myShip.status.value }}</td>
        </tr>
    </table>

    <div class="px-12 pt-10 w-full">
        <h2 class="text-4xl font-semibold my-8">ISS Location</h2>
        <p>Time: {{ issData.timestamp|date }}</p>
        <p>Altitude: {{ issData.altitude }}</p>
        <p>Latitude: {{ issData.latitude }}</p>
        <p>Longitude: {{ issData.longitude }}</p>
        <p>Visibility: {{ issData.visibility }}</p>
    </div>
</div>

{% endblock %}